.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambia esto */
  background-color: #057cbe;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 20px; /* separa logo de los links */
}

.logo mat-icon {
  margin-right: 8px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.nav-links a:hover {
  text-decoration: underline;
}

.active {
  border-bottom: 2px solid white;
}
.user-actions {
  margin-left: auto; /* Esto empuja el botón a la derecha */
  padding: 10px 20px;
}

.user-actions button {
  color: white !important;
}