/* === ESTRUCTURA GENERAL === */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #b4eddd;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 0 2rem;
  height: 70px;
  position: relative;
  z-index: 10;
}

/* === LOGO === */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.logo-img {
  height: 60px;
}

.logo-text {
  font-weight: 700;
  font-size: 1.75rem;
  color: #0077b6;
}

/* === NAV LINKS === */
.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: nowrap;
}

.nav-links button {
  color: #333;
  font-weight: 10000;
  transition: all 0.3s ease;
}

.nav-links button:hover {
  color: #08a5f9;
  transform: translateY(-1px);
}

/* === BOTONES USUARIO Y CERRAR SESIÓN === */
.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.user-btn,
.logout-btn {
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  text-transform: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.user-btn mat-icon,
.logout-btn mat-icon {
  min-width: 20px;
  font-size: 1.3rem;
}

/* Botón usuario */
.user-btn {
  background: linear-gradient(135deg, #79b5c9);
  color: rgb(255, 255, 255);
}

.user-btn:hover {
  background: linear-gradient(135deg, #00cfff, #008f3e);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 163, 204, 0.4);
}

/* Botón cerrar sesión */
.logout-btn {
  background: linear-gradient(135deg, #ff5252, #c62828);
  color: white;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #ff1744, #b71c1c);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(255, 82, 82, 0.4);
}
